.navbar {
  background-image: linear-gradient(
    45deg,
    rgba(88, 219, 255, 0.764),
    rgba(235, 214, 255, 0.6)
  );
  box-shadow: 0 0 12px rgba(147, 147, 147, 0.401);
  animation-name: navbarAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  position: fixed; /* Сделайте его липким/фиксированным */
  top: 0; /* Оставайтесь на вершине */
  width: 100%; /* Полная ширина */
  transition: top 0.3s;
}
.nav-item {
  display: inline;
  margin: 10px;
}
.nan-link {
  display: inline;
}
.logoTiero {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.logoTiero:hover {
  transform: scale(1.03);
}
.body {
  background-image: linear-gradient(
    180deg,
    rgba(164, 238, 255, 0.639),
    rgba(235, 214, 255, 0.6)
  );
  /* background-image: repeating-linear-gradient(90deg, white, grey); */
}
.MainPhoto {
  float: right;
  padding-right: 5em;
  animation-name: mainPhotoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.table-borderless {
  display: inline;
  padding-left: 3em;
  padding-right: 3em;
}
.card-deck {
  padding: 0.5em;
}
.card {
  display: inline;
  margin: auto;
  padding: 0.5em;
  max-width: max-content !important;
  min-width: max-content !important;
  background-image: linear-gradient(
    30deg,
    rgba(214, 224, 255, 0.578),
    #d6f7ffbb
  );
}
.imgGrapf {
  width: 10em;
}
.card {
  border-radius: 1.5em !important;
  padding: 0 !important;
}
.card:hover {
  background-color: rgba(217, 251, 255, 0.644);
}
.card {
  box-shadow: 0 0 15px rgba(126, 90, 146, 0.499);
}
.card {
  animation-name: animationCard;
  transition-duration: 0.3s;
  animation-duration: 2s;
  animation-timing-function: ease;
}

@keyframes animationCard {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.card:hover {
  transform: scale(1.04);
}
.nav-item {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.nav-item:hover {
  transform: scale(1.05);
  text-decoration-line: underline;
}
.cityImg {
  width: 100%;
  opacity: 0.8;
}
@keyframes navbarAnimation {
  0% {
    height: 2em;
  }
  100% {
    height: 6em;
  }
}
.col-lg-6 {
  animation-name: mainTextAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
@keyframes mainTextAnimation {
  from {
    color: transparent;
    margin: 20%;
  }
  to {
    margin: 0%;
    color: black;
  }
}
@keyframes mainPhotoAnimation {
  from {
    width: 0%;
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    width: 37%;
  }
}
.btn {
  border-radius: 1em !important;
  width: 360px !important;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* border-top-left-radius: 0em !important;
  border-top-right-radius: 0em !important; */
  background-image: linear-gradient(
    30deg,
    rgba(32, 23, 36, 0.578),
    #241922cd
  ) !important;
}
.InvestGraph {
  width: 390px;
  margin: 0;
  padding: 0;
  border-top-left-radius: 0em !important;
  border-top-right-radius: 0em !important;
  border-radius: 1.5em;
}

.dropdown-content {
  width: 390px;
  opacity: 0;
}

.dropdown-content:not(.menu) {
  overflow: hidden;
  max-height: 0em;
  transition: 1.2s ease;
}

.card:hover > .dropdown-content {
  opacity: 1;
  max-height: 12em;
  padding-top: 16px;
  transition: 1s ease;
  border-radius: 1em;
}
.HeaderCard {
  padding-top: 8px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: monospace;
}
.HeaderCardConteiner {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
.Description {
  padding-top: 5px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
